@model IEnumerable<Quản_Lý_Cửa_Hàng_Bán_Điện_Thoại.Models.SanPham>

<h2>
    Kết quả tìm kiếm: @ViewBag.TuKhoa
</h2>

<div class="row">

    @foreach (var sp in Model)
    {
        <div class="col-md-4 mb-4">

            <div class="card">

                <img src="~/HinhDienThoai/@sp.HinhAnh"
                     class="card-img-top"
                     style="height:250px; object-fit:cover;" />

                <div class="card-body text-center">

                    <h5>@sp.TenSP</h5>

                    <h4 class="text-danger">
                        @String.Format("{0:N0}", sp.Gia) VNĐ
                    </h4>

                </div>

            </div>

        </div>
    }

</div>